<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> 
      <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar12">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar12"> 
        <a class="navbar-brand d-none d-md-block">
          <i class="fa d-inline fa-lg fa-bus"></i>
          <b> JGSP</b>
        </a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"> <a class="nav-link" ></a> </li>
          <li class="nav-item"> <a class="nav-link" ></a> </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item"> <a class="nav-link" routerLink="/log-in">Uloguj se</a> </li>
          <li class="nav-item"> <a class="nav-link text-primary" routerLink="/registracija">Registruj se</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5" style="	background-attachment: fixed;	background-image: url(../assets/bg.PNG);	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h1 style="text-align:center">Registracija</h1>
        <label>
          <p class="label-txt">Ime:  </p>
          <input type="text" formControlName="Name" class="input" required />
            <div class="line-box">
             <div class="line"></div>
            </div>
        </label>
        <label>
          <p class="label-txt">Prezime:</p>
          <input type="text" formControlName="LastName" class="input" required />
            <div class="line-box">
              <div class="line"></div>
            </div>
        </label>
        <label>
          <p class="label-txt">Korisnicko ime:</p>
          <input type="text" formControlName="UserName" class="input" required />
            <div class="line-box">
              <div class="line"></div>
            </div>
        </label>
        <label>
          <p class="label-txt">Email:</p>
          <input type="text" formControlName="Email" class="input" required />
            <div class="line-box">
              <div class="line"></div>
            </div>
        </label>
        <label>
          <p class="label-txt">Adresa:</p>
          <input type="text" formControlName="Address" class="input" required />
            <div class="line-box">
              <div class="line"></div>
            </div>
        </label>
        <label>
          <p class="label-txt">Datum rodjenja:</p>
          <input type="text" formControlName="BirthdayDate" class="input" required />
            <div class="line-box">
              <div class="line"></div>
            </div>
        </label>
        <label>
          <p class="label-txt"> Tip putnika: </p>
          <select>
            <option name="PassengerType" formContorlName="PassengerType" value="3">Regular</option>
            <option name="PassengerType" formContorlName="PassengerType" value="1">Student</option>
            <option name="PassengerType" formContorlName="PassengerType" value="2">Pensioner</option>
        </select>
        </label>
        <label>
          <p class="label-txt">Lozinka:</p>
          <input type="password" formControlName="Password" class="input" required />
            <div class="line-box">
              <div class="line"></div>
            </div>
        </label>
        <label>
          <p class="label-txt">Potvrdi lozniku:</p>
          <input type="password" formControlName="ConfirmPassword" class="input" required />
            <div class="line-box">
              <div class="line"></div>
            </div>
        </label>
          <button class="btn btn-success pull-right" type="submit">Registruj se</button>
    </form>
      
      <nav class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-center"> <a class="navbar-brand" href="#">
            <b contenteditable="true"> GSP</b>
          </a> </div>
      </nav>


