<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> 
      <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar12">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar12"> 
        <a class="navbar-brand d-none d-md-block">
          <i class="fa d-inline fa-lg fa-bus" routerLink='/'></i>
          <b> JGSP</b>
        </a>
      </div>
    </div>
  </nav>
<div class="py-5" style="	background-attachment: fixed;	background-image: url(../assets/bg.PNG);	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  <br/>
<h1 style="text-align:center">
  
    Nije dostupna ova funkcija sistema.</h1>
  
<h3 style="text-align:center">Vas JGSP.</h3>
</div>