<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> 
      <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar12">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar12"> 
        <a class="navbar-brand d-none d-md-block">
          <i class="fa d-inline fa-lg fa-bus" routerLink='/'></i>
          <b> JGSP</b>
        </a>
      </div>
    </div>
  </nav>
<div class="py-5" style="	background-attachment: fixed;	background-image: url(../assets/bg.PNG);	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  
  <h2 style="text-align:center;border: black"><b>Lokacija vozila</b></h2>
  <label>
    <div class="row">
      <div class="col">
        <div><b>Izaberite liniju</b></div>
        <div>     
        <select #lineNumber (change)="onSelectionChangeNumber($event)" class="form-control">
              <option value="">-</option>
              <option value="12A">12A</option>
              <option value="7A">7A</option>
              <option value="13A">13A</option> 
              <option value="18">18</option>     
              <option value="2c">2c</option>      
        </select>
  </div>

  
        </div>
</div>
</label>
  
<p  >
  <!-- Kreiramo mapu -->
  <agm-map [latitude]="45.242268" [longitude]="19.842954" [zoom]="15" >  
    <div >
      <agm-polyline [strokeColor]="polyline.color">
        <agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude">
        </agm-polyline-point>
   </agm-polyline>
  </div>
<agm-marker *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude" [iconUrl]="polyline.icon">
</agm-marker>

<!-- <agm-marker *ngFor="let m of stations" [latitude]="m.Lat" [longitude]="m.Lon" [title]="m.Name" [iconUrl]="busImgIcon" label="">

</agm-marker> -->

<agm-marker  [latitude]="latitude" [longitude]="longitude" [iconUrl]="autobusImgIcon" label="">

</agm-marker>
  </agm-map>
</p>
</div>