
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> 
      <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar12">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar12"> 
        <a class="navbar-brand d-none d-md-block">
            <i class="fa d-inline fa-lg fa-bus" routerLink='/'></i>
          <b> JGSP</b>
        </a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"> <a class="nav-link" ></a> </li>
          <li class="nav-item"> <a class="nav-link" ></a> </li>
        </ul>
        <ul class="navbar-nav">
          <li  *ngIf="!username"class="nav-item"> <a class="nav-link" routerLink="/login">Uloguj se</a> </li>
          <li *ngIf="!username" class="nav-item"> <a class="nav-link text-primary" routerLink="/registracija">Registruj se</a> </li>
          <li *ngIf="username && role=='AppUser'" class="nav-item"> <a class="nav-link text-primary" routerLink="/karteKorisnik">Kupljene karte</a> </li>
          <li *ngIf="username && role=='AppUser'" class="nav-item"> <a class="nav-link text-primary" routerLink="/info">Informacije</a> </li>
          <li  class="nav-item"> <a class="nav-link text-primary" routerLink="/kontrolerKorisnici">Korisnici</a> </li>
          <li  class="nav-item"> <a class="nav-link text-primary" routerLink="/kontrolerKarte">Karte</a> </li>
          <li class="nav-item">
          <a *ngIf="username" class="nav-link" href="#" (click)="onClickLogout($event)"> <sub> logout {{username}}</sub></a>
      </li>
        
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5" style="	background-attachment: fixed;	background-image: url(../assets/bg.PNG);	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-6 p-3">
          <div class="card"> <img class="card-img-top" src="../assets/slika1.jpg" alt="Card image cap">
            <div class="card-body">
              <!--<h5 class="card-title text-center text-dark">RED VOZNJE</h5>!-->
              <h5 class="card-title text-center text-dark"><a routerLink="/red-voznje">RED VOZNJE</a></h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6 p-3">
          <div class="card"> <img class="card-img-top" src="../assets/slika2.png" alt="Card image cap">
            <div class="card-body">
              <!--<h5 class="card-title text-center flex-grow-1 text-dark">MREZA LINIJA</h5>!-->
              <h5 class="card-title text-center text-dark"><a routerLink="/linije" >MREZA LINIJA</a></h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6 p-3">
          <div class="card"> <img class="card-img-top" src="../assets/slika3.png" alt="Card image cap">
            <div class="card-body">
              <!--<h5 class="card-title text-center"> <b>CENOVNIK</b></h5>!-->
              <h5 class="card-title text-center text-dark"><a routerLink="/cenovnik">CENOVNIK</a></h5>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-6 p-3">
          <div class="card"> <img class="card-img-top" src="../assets/slika4.png" alt="Card image cap">
            <div class="card-body">
              <!--<h5 class="card-title text-center"> <b>LOKACIJA VOZILA</b></h5>!-->
              <h5 class="card-title text-center text-dark"><a routerLink="/lokacija">LOKACIJA VOZILA</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
 