<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> 
      <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar12">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar12"> 
        <a class="navbar-brand d-none d-md-block">
          <i class="fa d-inline fa-lg fa-bus" routerLink='/'></i>
          <b> JGSP</b>
        </a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"> <a class="nav-link" ></a> </li>
          <li class="nav-item"> <a class="nav-link" ></a> </li>
        </ul>
        <ul class="navbar-nav">
            
            <li class="nav-item">
          <a *ngIf="username" class="nav-link" href="#" (click)="onClickLogout($event)"> <sub> logout {{username}}</sub></a>
      </li>
        
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5" style="	background-attachment: fixed;	background-image: url(../assets/bg.PNG);	background-position: top left;	background-size: 100%;	background-repeat: repeat;">


<form [formGroup]="stanicaForma" (ngSubmit)="onSubmit()">
  <h2 style="text-align:center">DODAVANJE STANICE</h2>
    <label>
        <div class="row">
            <div class="col">
                  <input type="text" value="Naziv :" style="text-align:center" disabled><br/>
                  <input type="text" name="Name" formControlName="Name">              
              </div>
              
              <div class="col">
                  <input type="text" value="Adresa :" style="text-align:center" disabled><br/>
                  <input type="text" name="Address" formControlName="Address">
                <br/>                 
              </div>

              <div class="col">           
                <input type="text" value="Dodaj u liniju :" style="text-align:center" disabled><br/>
                <select formControlName="Line">
                    <option *ngFor="let line of lines" [value]="line">{{line}}</option>
                  </select> 
              </div>
              <div class="col">
                <input type="submit" value="Dodaj stanicu">
              </div>
              
            </div> 
<div>{{message}}</div>

<p>
    <!-- Kreiramo mapu -->
    <agm-map [latitude]="45.242268" [longitude]="19.842954" [zoom]="17" (mapClick)="placeMarker($event)">  
  
      <agm-marker *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude" [iconUrl]="polyline.icon">
      </agm-marker>
  
    </agm-map>
  </p>
</label>
</form>
</div>