<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> 
      <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar12">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar12"> 
        <a class="navbar-brand d-none d-md-block">
            <i class="fa d-inline fa-lg fa-bus" routerLink='/'></i>
          <b> JGSP</b>
        </a>
        <ul class="navbar-nav">
            <li *ngIf="username && role=='AppUser'" class="nav-item"> <a class="nav-link text-primary" routerLink="/karteKorisnik">Kupljene karte</a> </li>
            
          <li class="nav-item">
            <a *ngIf="username" class="nav-link" href="#" (click)="onClickLogout($event)"> <sub> logout {{username}}</sub></a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5" style=" height: 593px;	background-attachment: fixed;	background-image: url(../assets/bg.PNG);	background-position: top left;	background-size:90%;	background-repeat: repeat;">

    <div class="login">
      <h2 class="login-header">Informacije o korisniku</h2>
      <form [formGroup]="infoForm" class="login-container" (ngSubmit)="onSubmit()">
    
        <div class="row">
            <div class="col-md-6">
              <p>
              <input type="text" placeholder="Ime" formControlName="Name"required>
              </p>
    
              <p>
              <input type="text" placeholder="Prezime" formControlName="LastName" required>
              </p>
              <p>
                  <input type="text" placeholder="Korisnicko ime" formControlName="UserName" required>
              </p>
              <p>
                  <input type="text" placeholder="Datum rodjenja" formControlName="BirthdayDate"required>
                  </p>
              
              <p>
                  <input type="text" placeholder="Adresa" formControlName="Address"required>
              </p>
          </div>
        <div class="col-md-6">
            <p>
                <input type="email" placeholder="email" formControlName="Email"required>
            </p>
    
            <p>
                <input type="password" placeholder="Sifra" formControlName="Password"required>
                </p>
                <p>
                    <input type="password" placeholder="Potvrdite sifru" formControlName="ConfirmPassword"required>
                    </p>
                    
                    
            <p class="label-txt"> Tip putnika: </p>
            <select *ngIf="ownerLevels" [value]="selectedOwnerLevel" (change)="onChangeOwnerLevel($event.target.value)" formControlName="PassengerType" id="ddOwnerLevel">
            <option [value]="0" disabled>Select Owner Level</option>
            <option *ngFor="let ownerLevel of ownerLevels" [value]="ownerLevel.id">{{ownerLevel.name}}</option>
         </select>
        <!-- <input
         type="text"
         class="form-control"
         readonly="true"
         formControlName="Document"
         id="Document"
       />-->
       <div *ngIf= "user.PassengerType != 3">
        <img *ngIf=!user.Document  id="blah" [src]="'http://placehold.it/180'" alt="your image" style="width: 100px;height: 100px;" />
        <img  *ngIf=user.Document id="blah" [src]="'data:image/png;base64,'+user.Document" alt="your image" style="width: 100px;height: 100px;" />

      <div class="input-group right">

            <div class="custom-file " >
              <input type="file" class=" custom-file-input"(change)="onFileChanged($event)" #fileInput>
              <label *ngIf=!user.Document class="custom-file-label">Choose image</label>
              <label *ngIf=user.Document class="custom-file-label">Image chosen</label>
            </div>
          </div>
          <br>

          <br><br>
      </div>
          </div>
        </div>
        <p>
          <input type="submit" value="Sacuvaj promene">
        </p>
      </form>
    </div>
  </div>

