<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> 
      <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar12">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar12"> 
        <a class="navbar-brand d-none d-md-block">
          <i class="fa d-inline fa-lg fa-bus" routerLink='/'></i>
          <b> JGSP</b>
        </a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"> <a class="nav-link" ></a> </li>
          <li class="nav-item"> <a class="nav-link" ></a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5" style="	background-attachment: fixed;	background-image: url(../assets/bg.PNG);	background-position: top left;	background-size: 100%;	background-repeat: repeat;">


<form>
  <h2 style="text-align:center">Autobuske linije</h2>
    <label>
      <div class="row">
        <div class="col">          
          <select #routeType>
                <option value="0" disabled>Odaberite tip linije</option>
                <option value="1">Gradske linije</option>
                <option value="2">Prigradske linije</option>              
          </select>
                    
        <div>
          <button type="submit" (click)="getListuLinija(routeType.value)">Prikazi</button>
        </div>
          </div>
      <div class="col">
          
          <select #lineName>
              <option *ngFor="let line of lines" [value]="line">{{line}}</option>
            </select>  
           
              <div>
                <button type="submit" (click)="getLines(lineName.value)">Prikazi</button>
              </div>
            
            
            </div>
<br/>
</div>
</label>

      <p>
        <!-- Kreiramo mapu -->
        <agm-map [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="18" (mapClick)="placeMarker($event)">  
      
          <agm-marker [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [title]="markerInfo.title"
          [label]="markerInfo.label" [iconUrl]="markerInfo.iconUrl">
      
            <!-- Svakom markeru dodajemo info-window (Nije obavezno!)-->
            <agm-info-window [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" >
      
              <!-- U info-window stavljamo html -->
              <span style="font-size: 16px;font-family:'Times New Roman'">Fakultet tehničkih nauka</span>
              <br/>
              <span style="font-family:'Times New Roman'; color:gray;"><strong>Jugodrvo</strong></span>
              <span style="font-family:'Times New Roman'; color:gray;">Bulevar oslobođenja 131</span>
              <a [href]="markerInfo.link">See the site.</a>
            </agm-info-window>
      
          </agm-marker>
      
          <agm-polyline [strokeColor]="polyline.color">
               <agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude">
               </agm-polyline-point>
          </agm-polyline>
      
          <agm-marker *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude" [iconUrl]="polyline.icon">
          </agm-marker>
      
        </agm-map>
      </p>
 
</form>
</div>