<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container"> 
    <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar12">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar12"> 
      <a class="navbar-brand d-none d-md-block">
        <i class="fa d-inline fa-lg fa-bus" routerLink='/'></i>
        <b> JGSP</b>
      </a>
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"> <a class="nav-link" ></a> </li>
        <li class="nav-item"> <a class="nav-link" ></a> </li>
      </ul>
    </div>
  </div>
</nav>
<div class="py-5" style="	background-attachment: fixed;	background-image: url(../assets/bg.PNG);	background-position: top left;	background-size: 100%;	background-repeat: repeat;">
  <div class="container">
<form >
<h3 style="text-align:center">Dodavanje cenovnika</h3>
<label>
      <p>Datum pocetka vazenja : </p><input type="text" name="OD" value="{{info}}" disabled> 
  </label>
  <label>
    <p>Datum zavrsetka vazenja : </p><input type="text" name="DO" >
</label>
<label>
  <p>Cena vremenske karte : </p><input type="text" > rsd
</label>
<label>
  <p>Cena dnevne karte : </p><input type="text" > rsd
</label>
<label>
  <p>Cena mesecne karte : </p><input type="text"  > rsd
</label>
<label>
  <p>Cena godisnje karte : </p><input type="text"   > rsd
</label>

    <div>
      <button type="submit" (click)="ShowCenovnik(OD.value,DO.value)">Napravi</button>
    </div>
  <br/>
  
</form>
</div>
</div>

